@using Inventory.Models; 
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        border: 1px solid #0094ff;
        width: 100%;
    }
        table tr {
            border: 1px solid #0094ff;
            position: sticky;
            
        }
        table tr th {
            
            background: #4db5ea;
        }
        
        table tr td, table tr th {
            border: 1px solid #0094ff;
        }
        .clsTrContent:hover {
        background: #4cff00;
    }
        .clsTrContent{

        }
</style>


<form action="/Home/Dashboard" method="Post">
    @*@using (Html.BeginForm())*@
    @{

        List<BaseEquipment> pListData = (List<BaseEquipment>)ViewBag.plstData;
        <div id="dvTbleBorder" style="height:400px;width:500px; overflow:auto; border: 1px solid #808080;">
            <h4>Equipment List</h4>
            Equipment Name: <input type="text" id="txtName" name="txtName" />
            <input type="button" value="Search" name="btnSubmit" />
            <input type="button" value="Clear" name="btnSubmit" />
            <table>
                <tr style="position: sticky;">
                    <th>Name</th>
                    <th>Count</th>
                    <th>Entry Date</th>
                </tr>

                @foreach (BaseEquipment obj in pListData)
                {
                    if (ViewBag.txtName != "")
                    {
                        if (obj.Name == ViewBag.txtName)
                        {
                            <tr class="clsTrContent">
                                <td>@obj.Name</td>
                                <td>@obj.EcCount</td>
                                <td>@obj.EntryDate.ToString()</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="clsTrContent">
                            <td>@obj.Name</td>
                            <td>@obj.EcCount</td>
                            <td>@obj.EntryDate.ToString()</td>
                        </tr>
                    }


                }
            </table>
        </div>


    }
</form>